<div class="list">
  <h1 class="list__title"><%= list.name %></h1>

  <div class="list__form">
    <%= form_for invitation_form, as: :invitation, url: list_invitations_path(list.id), method: :post,
      remote: true, html: {class: "form js-invitation-form invitation-form"} do |f| %>
      <h1 class="form-title">Agregar invitación</h1>
      <%= form_group f, :title, label: "Título" %>
      <%= form_group f, :guests, label: "Invitados", control_class: "js-selectize-guests" %>
      <%= form_group f, :email %>
      <%= form_group f, :phone, label: "Teléfono" %>
      <%= f.button "Agregar", class: "btn btn--md btn--blue" %>
    <% end %>
  </div>

  <div class="list__table">
    <div class="list__stats alert alert--default">
      Invitaciones: <%= invitations.count %>
    </div>

    <div class="list__stats alert alert--default">
      Invitados: <%= invitations.map { |invitation| invitation.guests.split(",").count }.reduce(0, :+) %>
    </div>

    <div class="list__stats alert alert--default">
      Invitaciones entregadas: <%= invitations.count(&:delivered?) %>
    </div>

    <div class="list__stats alert alert--default">
      Invitados confirmados: <%= invitations.map(&:confirmed_guests_count).compact.reduce(0, :+) %>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Título</th>
          <th>Invitados</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>¿Entregada?</th>
          <th>Confirmados</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% invitations.each do |invitation| %>
        <tr id="invitation_<%= invitation.id %>">
          <td><%= invitation.title %></td>
          <td><%= invitation.guests.split(",").join(", ") %></td>
          <td><%= invitation.email %></td>
          <td><%= invitation.phone %></td>
          <td class="list__delivered-cell">
            <% if invitation.delivered? %>
              <span>Sí</span>
              <%= button_to list_invitation_delivery_mark_path(list.id, invitation.id), method: :delete, remote: true, class: "btn" do %>
                <span class="fa fa-undo"></span>
              <% end %>
            <% else %>
              <%= button_to list_invitation_delivery_mark_path(list.id, invitation.id), remote: true, class: "btn" do %>
                <span>Confirmar</span>
                <span>Entrega</span>
              <% end %>
            <% end %>
          </td>
          <td class="list__assistance-cell">
            <% if invitation.has_assistance_confirmed? %>
              <span><%= invitation.confirmed_guests_count %></span>
              <%= button_to new_list_invitation_guests_confirmation_path(list.id, invitation.id), method: :get, class: "btn" do %>
                <span class="fa fa-pencil"></span>
              <% end %>
            <% else %>
              <%= button_to new_list_invitation_guests_confirmation_path(list.id, invitation.id), method: :get, class: "btn" do %>
                <span>Confirmar</span>
                <span>Asistencia</span>
              <% end %>
            <% end %>
          </td>
          <td class="list__actions-cell">
            <%= button_to edit_list_invitation_path(list.id, invitation.id), method: :get, class: "btn" do %>
              <span class="fa fa-pencil"></span>
            <% end %>
            <%= button_to list_invitation_path(list.id, invitation.id), method: :delete, class: "btn", remote: true do %>
              <span class="fa fa-trash"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>