<%= form_for form, as: :user, url: session_url, method: :post, html: {class: "form"} do |f| %>
  <h1 class="form-title">Iniciar sesión</h1>

  <% if local_assigns[:error].present? %>
    <div class="alert alert--error">
      <%= local_assigns[:error] %>
    </div>
  <% end %>

  <%= form_group f, :email %>
  <%= form_group f, :password, label: "Contraseña", field_method: :password_field %>
  <%= f.button "Enviar", class: "btn btn--md btn--blue" %>
  <div class="text-right">
    <%= link_to "¿Olvidaste tu contraseña?", new_password_recovery_path %>
  </div>
<% end %>
