<% unless current_user? %>
  <%= content_for :top_buttons do %>
    <%= link_to "Registrarme", new_registration_path, class: "btn btn--sm btn--blue" %>
    <%= link_to "Iniciar sesión", new_session_path, class: "btn btn--sm btn--blue" %>
  <% end %>
<% end %>

<div class="pitch">
  <h1 class="pitch__title">Te ayudamos a crear y confirmar la lista de invitados para tu evento.</h1>

  <div class="pitch__btn-box">
    <%= link_to "Crear mi lista de invitados", new_registration_path, class: "btn btn--lg btn--blue" %>
  </div>

  <p>Tal vez ya te diste cuenta que hacer una lista de invitados no es tan fácil, ya que es normal:</p>

  <ul>
    <li>Olvidar invitar personas importantes.</li>
    <li>Invitar más personas de las que tu presupuesto permite.</li>
    <li>Revolver o duplicar los invitados con tu novio, novia o otra persona involucrada en la organización.</li>
    <li>Tener 1000 versiones diferentes del archivo de excel con la lista de invitados.</li>
    <li>Perder registro de a quien has invitado.</li>
    <li>No tener idea quien de tus invitados va asistir a tu boda.</li>
    <li>Recibir confirmaciones por facebook, whatsapp, correo electrónico, la página de la boda, etc.</li>
  </ul>

  <p>Lo que tu quieres muy probablemente sea:</p>

  <ul>
    <li>Tener una sola versión de la lista disponible para todos los organizadores.</li>
    <li>Poder editar fácilmente la lista.</li>
    <li>Poder llevar registro de a quien se han entregado invitaciones.</li>
    <li>Poder llevar registro de las personas confirmadas.</li>
    <li>Y en el mejor de los casos que te ayuden a confirmar a los invitados.</li>
  </ul>


  <p>Y esto es justo lo que obtendrás con Simple Guest List</p>

  <p>Una aplicación web que te ayudará a:</li>

  <ul>
    <li>Visualizar y tener control de los invitados</li>
    <li>Colaborar con los otros organizadores</li>
    <li>Llevar registro de las invitaciones entregadas</li>
    <li>Llevar registro de las personas confirmadas</li>
    <li>Confirmar a los invitados automáticamente por correo electrónico</li>
  </ul>

  <%= image_tag "screenshot.png", class: "pitch__screenshot alert alert--default" %>

  <h1 class="pitch__title">Nuestros servicios</h1>

  <div class="alert alert--info">
    <h3>Software para crear lista de invitados</h3>
    <h1>$0</h1>
    <p>Gratis todas las listas que necesites.</p>
  </div>

  <div class="pitch__unavailable-package alert alert--default">
    <strong><span class="fa fa-exclamation-circle"></span> Aún no está disponible</strong>
    <h3>Asignar mesa a invitados</h3>
  </div>

  <div class="pitch__unavailable-package alert alert--default">
    <strong><span class="fa fa-exclamation-circle"></span> Aún no está disponible</strong>
    <h3>Confimación de invitados vía correo electrónico</h3>
  </div>


  <h1 class="pitch__title">Noticias y Artículos</h1>

  <div class="text-center">
    <% articles.each do |article| %>
      <%= link_to article[:title], article_path(article[:slug]) %>
      <br/>
    <% end %>
  </ul>

  <h1 class="pitch__title">¿Aún no has creado tu lista?</h1>

  <div class="pitch__btn-box">
    <%= link_to "Crear mi lista de invitados", new_registration_path, class: "btn btn--lg btn--blue" %>
  </div>
</div>
