<!DOCTYPE html>
<html>
  <head>
    <title>Simple Guest List | Software para administrar la lista de invitados para tu evento.</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script src="https://use.fontawesome.com/6ab7fce2e2.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <div class="bar">
      <%= link_to root_path, class: "logo" do %>
        <span>Simple Guest List</span>
      <% end %>
      <div class="top-buttons">
        <% if current_admin? %>
          <%= link_to "Listas", admin_lists_path, class: "btn btn--sm" %>
          <%= link_to "Usuarios", admin_users_path, class: "btn btn--sm" %>
        <% end %>

        <% if current_user? %>
          <%= link_to "Mis listas", lists_path, class: "btn btn--sm btn--blue" %>
          <%= button_to "Cerrar sesión", session_path, method: :delete, class: "btn btn--sm" %>
        <% end %>
        <%= yield :top_buttons %>
      </div>
    </div>

    <%= yield %>

    <%= link_to support_page_path, class: "support-btn btn btn--sm btn--blue" do %>
      <span class="fa fa-question-circle"></span>
      <span>Soporte</span>
    <% end %>
  </body>
</html>
